res = "../images"

// BREAKPOINTS
// condensed: sub 600px screens (mainly mobile devices)
// enhanced: between 600 and 900px screens (mainly tablets, some laptops, large DPI screns)
// extended: above 901 for large screens / desktops and the like
//  736 is the width of iphone6+
max_site_width = 1170px;
breakpoints = {
    floor: 320px
    compressed: 460px
    condensed: 736px
    standard: 768px
    enhanced: 900px
    expanded: 1200px
    extended: 1600px
}

z_index = {
    above: 10
    stack: 20
    masthead: 30
    nav: 40
    overlay: 50
    modal: 60
}

// TYPE
type_stacks = {
    header: Matchbook helvetica
    body: "Josefin Sans" helvetica
    chrome: helvetica
}

mobile_font_size = 24px
base_font_size = 24px
base_line_height = 24px

//COLOR PALETTE
co = {
    brand_pri: #94daac
    brand_sec: #a4c3b8
    brand_tert: #becdaf
    brand_quad: #4f615a

    copy_base: #8a8270

    neutrals_base: #d9ebe4
    neutrals_tint: #f2f1eb
    neutrals_shade: #90b0a4

}
