// CONFIG
// Basic web styles (mobile first)
//////////////////
@import "_project"

// ==========================================================================
// Reset: reset all elements to baseline to be altered via CSS and class structure
reset()

// ==========================================================================
// Utils: calls utils functions. creates utilities as OOCSS
// utils()
dev_tools()


// @require "1_layout_patterns"
// @require "2_modules"
// @require "3_components"
// @require "4_regions"
// @require "5_views"
// $quick-change-all
//     change-state: all .5s ease-in-out
//
// $med-change-all
//     change-state: all .75s
//
// @import "includes/theme/type"
// @import "includes/theme/copy"
// @import "includes/theme/glyphs"
// @import "includes/theme/fx"
// @import "includes/theme/theme"
//
// @import "includes/structure/environment"
// @import "includes/structure/forms"
// @import "includes/structure/components"
// @import "includes/structure/strata"
//
// @import "includes/site/*"
//
// @import "includes/breakpoint-flags"
