// CONFIG
// Basic web styles (mobile first)
//////////////////
@import "_project"

webfont(file: "../fonts/Matchbook", name: 'Matchbook', types: woff woff2)


// ==========================================================================
// Reset: reset all elements to baseline to be altered via CSS and class structure
reset()

// ==========================================================================
// Utils: calls utils functions. creates utilities as OOCSS
dev_tools()


@require "1_layout_patterns"
@require "2_modules"
@require "3_components"
@require "4_regions"
@require "5_views"
