// 9.0 Structures -  Flex / Grid
// mixins that construct flex-box / grid classes


flex_justify_content = {
    Grid: space-between
    Space: space-around
    Start: flex-start
    End: flex-end
    Middle: center
}


flex_align = {
    Start: flex-start
    End: flex-end
    Middle: center
    Full: stretch
}


// ==========================================================================
// Row Justify Content flags [class*="--p____"]
// along primary axis
//
for type in (Grid Space Start End Middle)
    { s('[class*="--p%s"]', unquote(type)) }
        justify-content: flex_justify_content[type]


// ==========================================================================
// Align Items flags [class*="--s____"]
// along the secondary axis
//
for type in (Start End Middle Full)
    { s('[class*="--s%s"]', unquote(type)) }
        align-items: flex_align[type]


// ==========================================================================
// Align Self flags [class*="--a____"]
//
//
for type in (Start End Middle Full)
    { s('[class*="--a%s"]', unquote(type)) }
        align-self: flex_align[type]
