// 9.0 Structures -  Flex / Grid
// mixins that construct flex-box / grid classes

mod_namespace="mod"

// flex: flex-grow flex-shrink flex-basis
flex_mods = {
    static: 0 0 auto
    balance: 1 1 auto
    fit: 0 1 auto
    fill: 1 0 auto
}

set_flex_size(type)
    type = join("", type)
    flex: flex_mods[type]


for type in flex_mods
    { s('[class*="%s-%s"]', unquote(mod_namespace), unquote(type) ) }
        set_flex_size(type)
