// ==========================================================================
// Structure Style Files
//
// Immutable structures based off of line-height and environmental variables.
// These should only be extended through an open/close principle, whereas
// the base class can be extended by flags `--flag`, any individualized
// customization should be controlled through Site style files
//
//


// ==========================================================================
// flex modules
//
//
.mod-static
.mod-media
    flex: flex_mods[static]

.mod-balance
    flex: flex_mods[balance]

// ==========================================================================
// flex rows and columns (do not wrap by default)
//
//
init-flexes()


// ==========================================================================
// flex matrices (rows that wrap to form object grids)
//
//
init-matrices()


// ==========================================================================
// Flex flags that alter the layout of flex items
//
//
init-flex-primary-flags(Grid Space Start End Middle)
init-flex-secondary-flags(Start End Middle Full)
// init-flex-alternate-flags()

// ==========================================================================
// uses embed structure based on aspect ratios
//
//
// init-embed-object()
// set-embed-ratio(16 9)


// ==========================================================================
// reusable components for media objects, action objects
// that may have some intrinsic defaults different from flex rows/col/matrix
//
//
init-media-object()

[class*="media--"]
    .mod-media
        margin-right: blh()

    +under(breakpoints.condensed)
        flex-flow: column

        .mod-media
            margin-x: auto
