// ==========================================================================
// Structure Style Files
//
// Immutable structures based off of line-height and environmental variables.
// These should only be extended through an open/close principle, whereas
// the base class can be extended by flags `--flag`, any individualized
// customization should be controlled through Site style files
//
//

// ==========================================================================
// breakouts: isolations and insulations
//
//
// @require "breakouts"

// ==========================================================================
// flex modules
//
//
@require "flex-modules"


// ==========================================================================
// flex rows and columns (do not wrap by default)
//
//
@require "flexes"


// ==========================================================================
// flex matrices (rows that wrap to form object grids)
//
//
@require "matrices"


// ==========================================================================
// Flex flags that alter the layout of flex items
//
//
@require "flex-flags"


// ==========================================================================
// uses embed structure based on aspect ratios
//
//
@require "embeds"


// ==========================================================================
// reusable components for media objects, action objects
// that may have some intrinsic defaults different from flex rows/col/matrix
//
//
@require "media"
