[class*="matrix--"]
    display: flex
    flex-wrap: wrap

    // hide any empty matrix/grid
    &:empty
        visibility: collapse
        margin: 0

    // mod-balance should fill the space available in its row
    > .mod-balance
        width: auto
        max-width: none
        flex: 1 1 auto
