// [class*="media-video"]
//     background-size: cover
//
// .media-video-ctrl
//     mix-blend-mode: screen
//
//
//     &:hover
//         mix-blend-mode: normal
//
// .media-video--yt
//     &::after
//         transition: padding 1s ease-in-out
//
//     &:not([class~="has-active-content"])
//         &::after
//             padding-bottom: 75%
//             transition: padding 1s ease-in-out
//
//
// .media--audio
//     width: 100%
//
// .media-ctrl--audio
//         margin: 0 blh(.5)
//         min-width: 85px
//         max-width: 100px
//         width: 20%
//
//         &::-webkit-media-controls-panel
//             background: transparent
//
//         &::-webkit-media-controls-play-button
//             opacity: .15
//
//         &::-webkit-media-controls-timeline
//         &::-webkit-media-controls-mute-button
//         &::-webkit-media-controls-volume-slider
//             display: none
//
//         &::-webkit-media-controls-time-remaining-display
//         &::-webkit-media-controls-current-time-display
//             font-size: 16px
//             color: co.neutrals_tint
//             stack: header
//
// .media-hed
//     text-transform: uppercase
