html
    height: 100%
    font-size: bfs()
    line-height: 1.5
    text-size-adjust: 100%
    background-color: wh(100)

body
    height: 100vh
    display: flex
    flex-flow: column
    stack: body
    color: co.copy_base
    +over(breakpoints.condensed)
        +add-after()
            position: fixed
            edges: 0
            background-image: url(res/bkg.jpg)
            background-size: cover
            background-position: bottom center
    //
    //
    // +over(breakpoints.expanded)
    //     &::after
    //         background-image:  url(res/bkg.afficon2016_ext.png)



main
    display: block
    flex: 1 0 auto
    order: 1
    width: 100%
    max-content-width: max_site_width blh()

    * + *
        margin-top: blh()
