+init-html()
    font-size: bfs(1.5)
    line-height: 1.5
    background-color: wh(100)

+init-body()
    stack: body
    color: co.copy_base

    +add-after(fixed)
        edges: 0

    +over(breakpoints.condensed)
        +after()
            background-image: url(res/bkg.jpg)
            background-size: cover
            background-position: bottom center

    // +over(breakpoints.expanded)
    //     &::after
    //         background-image:  url(res/bkg.afficon2016_ext.png)

+init-main()
    padding: blh()
    max-content-width: max_site_width blh()

    +under(breakpoints.condensed)
        padding-x: blh(.5)

    +over(breakpoints.condensed)
        padding-y: blh(3)

    * + *
        margin-top: blh()
