.masthead,
.masthead--cnd
    order: 0
    flex: 0 0 auto
    z: masthead

.masthead
    background-image: url(res/hdr.jpg)
    background-size: cover
    animation-name: glass-and-sun
    animation-duration: 10s
    animation-delay: 2s
    animation-iteration-count: infinite
    animation-timing-function: ease-in
    border-bottom: 1px solid co.neutrals_tint
    box-shadow: 0 1px 5px rgba(0,0,0,.5)
    will-change: true


.masthead-home
    padding: blh(1)
    max-content-width: max_site_width, blh()
    order: 1

.masthead-logo
    mix-blend-mode: multiply
    sq: 25vw
    max-sq: 134px

.masthead-title
    padding-top: blh()
    margin-x: blh()
    stack: header
    line-height: .75
    color: co.brand_quad

.masthead-title-and
    transform: translateY(.4rem)

.masthead-navbar
    width: 100%


//     +under(breakpoints.compressed)
//         order: 4
// // .masthead-navbar
//     +over(breakpoints.condensed)
//         background: rgba(co.brand_quad, 50%)
//         border-bottom: 1px solid co.neutrals_tint
//         height: bfs()
//         width: 100%
//         order: 0
