.masthead,
.masthead--cnd
    order: 0
    flex: 0 0 auto
    z(masthead)

.masthead
    +add-after()
        background-image: url(res/hdr.jpg)
        edges: 0
        animation: fader 10s infinite alternate ease
        border-bottom: 1px solid co.neutrals_tint

@keyframes fader
    0%
        filter: hue-rotate(0deg)
    25%
        filter: hue-rotate(10deg)
    30%
        filter: hue-rotate(12deg) brightness(1) contrast(1)
    50%
        filter: hue-rotate(15deg) brightness(1.15) contrast(1.25)
    70%
        filter: hue-rotate(20deg) brightness(1) contrast(1.1)
    75%
        filter: hue-rotate(10deg)
    100%
        filter: hue-rotate(7deg)

.masthead-home
    padding: blh(1)
    max-content-width: max_site_width, blh()
    order: 1

.masthead-title
    padding-top: .5rem
    margin-left: 1rem
    stack: header
    font-size: 2.369rem
    line-height: .75
    color: co.brand_quad

.masthead-title-and
    transform: translateY(.4rem)

.masthead-navbar
    background: rgba(co.brand_quad, 50%)
    border-bottom: 1px solid co.neutrals_tint
    height: bfs()
    width: 100%
    order: 0

// .masthead-home
//     // no need to use flex-basis here, the image has its own "width"
//     display: block
//     relative-max: 279px, 384px, breakpoints.standard, breakpoints.expanded
//     z-index: 3
//
//     +under(breakpoints.condensed)
//         max-width: 400px
//
// .masthead-nav
//     relative-width: 400px, 700px, breakpoints.standard, breakpoints.expanded
//
//

// .masthead
//     +over(breakpoints.condensed)
//         padding: blh(.5)
//
//     +over(breakpoints.enhanced)
//         padding: blh(.5) blh(1) blh(1)
//
// .masthead--cnd
//     padding: blh(.5)
//     margin-top: blh(1.5)


// .colophon
//     position: relative
//     flex: 0 0 auto
//     order: 3
//     padding: blh(.25)
//
//     +over(breakpoints.condensed)
//         padding: blh(.5)
//
//     +over(breakpoints.enhanced)
//         padding: blh(.5) blh(1)
//
//     .nav-tertiary
//         calc-grid: 3 4
//
//         +over-condensed()
//             calc-grid: 4 4
//
//
// .colophon-legal
//     min-width: 75px
//     calc-grid: 1 4 blh(.5)
//     text-transform: uppercase
//
//     +over(breakpoints.condensed)
//         position: absolute
//         top: bfs(-.6)
//         right: blh(.5)
//         width: auto
//
//     +over(breakpoints.enhanced)
//         right: blh(1)
