.strata-hdr
    +over(breakpoints.condensed)
        calc-grid: 4 5
        max-width: 900px

.strata-hed
    stack: header
    text-transform: uppercase

.strata-overview
    > * + *
        margin-top: .5em




[class*="strata--"]
    width: 100%

.strata--main
    margin-top: blh(.25)
    padding-top: blh(.25)
    border-top: 2px solid co.copy_base

    +over(breakpoints.condensed)
        calc-grid: 8 10 blh(1)

    +over(breakpoints.standard)
        calc-grid: 7 10 blh(1)

    +over(breakpoints.expanded)
        calc-grid: 7 10 blh(2)

    .copy + .copy
        +add-before()
            border-top: solid rgba(co.copy_base, 25%)
            edges: blh(-.5) calc(33% + 6px) auto
            mix-blend-mode: difference


.strata--extra
    +over-condensed()
        margin-top: blh(2)

.strata--sidebar
    +over(breakpoints.condensed)
        calc-grid: 2 10 blh(1)

    +over(breakpoints.standard)
        calc-grid: 3 10 blh(1)

    +over(breakpoints.expanded)
        calc-grid: 3 10 blh(2)

    .strata--main + &
        margin-top: blh(1)

        +over(breakpoints.condensed)
            margin-top: blh(.25) + 2

    > * + *
        +add-before()
            border-top: currentColor
            edges: blh(-.5) 0 auto
            mix-blend-mode: difference

    .copy
        padding-x: blh(.5)

        ul li
            &::before
                margin-top: .625em
                margin-left: -.75em
                sq: .25em
                line-height: .625em

.strata--hooks
    +over(breakpoints.condensed)
        margin-top: blh(2)

    > *
        +over(breakpoints.condensed)
            set_matrix(2, blh())

        +between(breakpoints.condensed, breakpoints.enhanced)
            &:last-child
                width: 100%

        +over(breakpoints.enhanced)
            set_matrix(3, blh(.5))




// .strata--intro
//     text-align: center
//     max-width: 700px
//     margin: 0 auto
//     padding: blh()
