.event-days
    > *
        width: 100%

        +over(breakpoints.condensed)
            set_matrix(2, blh())

.event-day-hed
    display: block

.events
    margin-top: blh(.25)

// .scheduled-event
//     padding: blh(.25) blh(.5) blh(.35)
