.sponsor-img
    display: block
    mix-blend-mode: darken


[class*="sponsor-tier-sponsors"]
    > *
        set_matrix(2, blh(.25))
        max-width: 150px

        +over(breakpoints.compressed)
            set_matrix(3, blh())

        +over(breakpoints.condensed)
            set_matrix(4, blh())
            max-width: none


.sponsor-tier-sponsors--major
    > *
        +over(breakpoints.condensed)
            set_matrix(3, blh())


.sponsor-tier
    padding: blh(.5)
    background: wh(100)
    box-shadow: 0 1px 2px rgba(#000, .25)

    @supports(mix-blend-mode: multiply)
        padding: 0
        background: transparent
        box-shadow: none

    > * + *
        margin-top: blh(.5)
