.co-pri
    color: co.brand_pri


.co-sec
    color: co.brand_sec

.co-tert
    color: co.brand_tert

.co-minor
    color: co.neutrals_shade

.co-ctrl
    color: co.brand_pri

    &:hover
        color: darken(@color, 15%)
    //
    // &.is-active
    //     color: co.neutrals_shade



.hl
    &-b
        border-bottom: currentColor
