.co-pri
    color: co.brand_pri


.co-sec
    color: co.brand_sec

.co-tert
    color: co.brand_tert

.co-minor
    color: co.neutrals_shade

.co-ctrl
    color: co.brand_pri

    &:hover
        color: darken(@color, 15%)

.co-ctrl--alt
    color: darken(co.brand_pri, 20%)

    &:hover
        color: darken(@color, 35%)

.hl
    &-b
        border-bottom: currentColor


hr
    border: 0
    border-top: dotted co.neutrals_shade
