.co-pri
    color: co.brand_primary

    &--alt
        color: co.brand_primary_alt

.co-sec
    color: co.brand_secondary

.co-tert
    color: co.brand_tertiary

.co-minor
    color: co.neutrals_shade

.co-ctrl
    color: co.brand_secondary

    &:hover
        will-change: color
        color: darken(co.brand_secondary, 35%)

    &.is-active
        color: co.neutrals_shade



.hl
    &-b
        border-bottom: currentColor
