// co: color
// hl: hairlines
// mot: motif - a small theme that can be affected by the theme
// thm:  theme - large scale region
// rxn: reaction - dynamic theme/motif

@require 'colors_hairlines'
@require 'rxns'
@require 'thms'
