// 8.0 Effects
// Effect Patterns


// ==========================================================================
// 8.2 Backplate Visibility
backface(hide=false)
    transform: translate3d(0,0,0) /* stops flickering */
    backface-visibility: hidden if hide
    backface-visibility: visible unless hide


// ==========================================================================
// 8.3 Smooth state transitions
set_transition_declaration_list(change_list, time_declaration)
    delta = ""
    for value in change_list
        delta = delta + s("%s %s ease-in-out", value unit(time_declaration, "s"))
        delta = delta + ", " unless last(change_list) == value
    transition: s(delta)


set_transition_states(change = opacity, time_out = .5s, time_in = time_out, state_type=null)
    if time_out == time_in and state_type
        \,
        &:{state_type}
            set_transition_declaration_list(change, time_out)

    else
        set_transition_declaration_list(change, time_out)

        if state_type
            &:{state_type}
                set_transition_declaration_list(change, time_in)

// hover(change = opacity, time_out = .5s, time_in = time_out)
//     set_transition_states(change, time_out, time_in, state_type="hover")


// focus(change = opacity, time_out = .5s, time_in = time_out)
    // set_transition_states(change, time_out, time_in, state_type="focus")

hover(decs)
    \,
    &:hover
        transition: decs

    &:hover
        {block}


focus(decs)
    \,
    &:focus
        transition: decs

    &:focus
        {block}



active(change = opacity, time_out = .5s, time_in = time_out)
    set_transition_states(change, time_out, time_in, state_type="active")





// 8.0 Effects



// ==========================================================================
// 8.2 Backplate Visibility
//
// Overload CSS backplate-visibility property to include needed browser prefixes
//
//


// ==========================================================================
// 8.3 Smooth state transitions
//
// sets up smooth transition details for both base state and hover state
// for now defaults to ease_in_out movement
//
// @change
// @time_out
// @time_in
//
//
