extends /index

block main
    main.vw-content--tier2
        article.matrix--pGrid--sStart
            header.strata-hdr
                h1.strata-hed.typ-poster 
                    
            
            section.strata--main
                .strata-overview.typ-display.co-tert
                    
            
                .strata-content
                    
            
            aside.strata--sidebar
                
