extends /index

block main
    main.vw-home
        article.matrix--pGrid--sStart
            header.hook--overlay.col--pMiddle--sMiddle.thm-photo
                
            section.strata--main
                .strata-overview.typ-subhed
        
            
            .strata--hooks.matrix--pGrid
        
            
            .strata--extra
        
