doctype html
html(lang="en-US", ng-app="client")
    head
        title AFFI-CON 2016 &mdash; Takin' Care of Business
        meta(charset="utf-8")
        
        != vefa.ie_basics()
        block meta
        
        != vefa.viewport()
        block favicons
        block prefetch
        
        block css
        
        block head_js
                
    
    body(dir="ltr", ontouchstart="", onmouseover="")
        block svg
        
        block base
        
        block js
