doctype html
html(lang="en-US", ng-app="client")
    head
        title Erin and Kent get Married!
        meta(charset="utf-8")
        
        != vefa.ie_basics()
        block meta
        
        != vefa.viewport()
        block favicons
        block prefetch
        
        block css
        
        if site.google_fonts
            link(
                href='https://fonts.googleapis.com/css?family=#{site.google_fonts}' 
                rel='stylesheet' 
            )
        
        block head_js
                
    
    body(dir="ltr", ontouchstart="", onmouseover="")
        block svg
        
        block base
        
        block js
