extends index

block main
    article.strata.matrix--pGrid--sTop
        header.strata-hdr
            h1.strata-hed.typ-poster Accommodations
        
        .strata-pri.strata-copy--alt_2
            h2 Getting Here
    
            p Roanoke, VA is 4 hours south of Washington, DC and 3 hours away from Richmond, VA. There is a regional airport in Roanoke (ROA). Both hotels provide shuttles to and from the airport.
            
            p Transportation to and from hotels and ceremony/reception will be provided. Pick up and drop off will be at The Hyatt Place and Cambria in Roanoke.
    
            p Buses will begin boarding at 1:15 pm and depart at 1:30 pm from both hotels.
            
            p Roanoke has both Uber and cabs. If you'd like a cab, we recommend City Cab (540) 815-5050.
            
            p Street and parking garages are available within walking distance of all events.

        .strata-pri.strata-copy--alt_2
            h2 Hotels
            
            dl.iten-list
                dt.iten-list-hed
                    a.fx-shift(href="http://www.roanoke.place.hyatt.com/en/hotel/home.html?corp_id=G-HPWB", target="_blank") Hyatt Place Roanoke Airport / Valley View Mall
                dd
                    img(
                        src=vefa.static("/media/hyatt_place.jpg")
                        width="240"
                    )
                dd
                    div 5040 Valley View Boulevard North
                    div Roanoke, Virginia, USA, 24012
                    div
                        a(href="tel:888-492-8847") 888-492-8847
                dd
                    dl
                        dt Rates
                        dd starting at $99.00
                        dt Book by
                        dd March 9, 2016 (or until rooms run out!)
                        dt Group Code
                        dd G-HPWB
                        dt Book room(s) at
                        dd: a.fx-shift(href="http://www.roanoke.place.hyatt.com/en/hotel/home.html?corp_id=G-HPWB", target="_blank") Hyatt Place Roanoke Airport / Valley View Mall
                            
                
                dt.iten-list-hed
                    a.fx-shift(href="https://www.choicehotels.com/virginia/roanoke/cambria-hotels/va529?source=gglocaloz1", target="_blank") Cambria Roanoke
                dd
                    img(
                        src=vefa.static("/media/cambria.jpg")
                        width="240"
                    )
                dd
                    div 301 Reserve Avenue Southwest
                    div Roanoke, Virginia, USA, 24016
                    div
                        a(href="tel:540-400-6226") 540-400-6226
                    div Free shuttle to and from airport and downtown Roanoke
                dd
                    dl
                        dt Rates
                        dd $129.00 for a King Suite
                        dt Book by
                        dd March 9, 2016 (or until rooms run out!)
                        dt Call for reservations
                        dd Hodgson Potter Block
    
    aside
        ul.gallery--flow-col
            +col_image("kentanderin9.jpg")
            +col_image("kentanderin4.jpg")
            +col_image("kentanderin7.jpg")
            +col_image("kentanderin8.jpg")                    
            +col_image("kentanderin10.jpg")
            +col_image("kentanderin11.jpg")
            +col_image("kentanderin13.jpg")
            +col_image("kentanderin12.jpg")
            +col_image("kentanderin16.jpg")
            +col_image("kentanderin15.jpg")
            +col_image("kentanderin14.jpg")
            +col_image("kentanderin5.jpg")
