extends index

block main
    article.strata
        header.strata-hdr
            h1.strata-hed.typ-poster Our Registry
        
        ul.copy
            li
                a.typ-lede.co-ctrl--alt.fx-shift(href="http://www.honeyfund.com/wedding/hodgsonwedding2016", target="_blank") Honeyfund
            li
                a.typ-lede.co-ctrl--alt.fx-shift(href="http://www.crateandbarrel.com/gift-registry/erin-potter/r5391566", target="_blank") Crate and Barrel 
            li
                a.typ-lede.co-ctrl--alt.fx-shift(href="http://www1.macys.com/registry/wedding/guest/?registryId=6429373", target="_blank") Macy’s
            li
                a.typ-lede.co-ctrl--alt.fx-shift(href="https://secure.williams-sonoma.com/registry/gn7tsf6m8n/registry-list.html", target="_blank") William Sonoma
                
        ul.gallery--flow-col
            +col_image("kentanderin9.jpg")
            +col_image("kentanderin4.jpg")
            +col_image("kentanderin7.jpg")
            +col_image("kentanderin8.jpg")                    
            +col_image("kentanderin10.jpg")
            +col_image("kentanderin11.jpg")
            +col_image("kentanderin13.jpg")
            +col_image("kentanderin12.jpg")
            +col_image("kentanderin16.jpg")
            +col_image("kentanderin15.jpg")
            +col_image("kentanderin14.jpg")
            +col_image("kentanderin5.jpg")
