extends index

block main
    article.strata
        header.strata-hdr
            h1.strata-hed.typ-poster Our Story
        p Kent and Erin met while both attending Roanoke College and were good friends throughout college.  In 2010 during a bbq she and her roommates Dani and Bonnie held at their home, Kent showed up (uninvited). Their fate was sealed when at the end of the night, Kent asked Erin on a date. 
        
        ul.gallery.matrix--pStart
            +col_image("kentanderin9.jpg").no-cnd
            +col_image("kentanderin16.jpg").no-cnd
            +col_image("kentanderin10.jpg").no-cnd
            +col_image("kentanderin11.jpg").no-cnd
            +col_image("kentanderin4.jpg").no-cnd
            +col_image("kentanderin7.jpg")
    
    hr
            
    article.strata
        header.strata-hdr
            h1.strata-hed.typ-poster Our Proposal
        p This past May (2015) Kent suggested they go to one of their favorite spots on the Potomac River outside DC, Roosevelt Island, for some quality time with their dog Teddy. It was under the guise of celebrating Teddy’s 1st birthday at his namesake location. After walking around and eating breakfast, Kent surprised Erin by proposing on his knee with Teddy by their side. 
        
        ul.gallery.matrix--pStart--sMiddle
            +col_image("kentanderin8.jpg").no-cnd             
            +col_image("kentanderin13.jpg").no-cnd
            +col_image("kentanderin12.jpg").no-cnd
            +col_image("kentanderin15.jpg").no-cnd
            +col_image("kentanderin14.jpg").no-cnd
            +col_image("kentanderin5.jpg")
