extends index

block main
    article.strata
        header.strata-hdr
            h1.strata-hed.typ-poster Things to Do
            p Roanoke was founded as a railroad town when the arrival of the Virginia and Tennessee Railroad came in 1852. Since then, the city has grown to become a cultural hub in Southwest Virginia.
        
        .strata-copy--alt.matrix--pGrid
            section
                h2 Attractions
                
                dl.iten-list
                    dt.iten-list-hed: a(href="http://www.visitroanokeva.com/things-to-do/attractions/roanoke-star/", target="_blank") Mill Mountain Star
                    dd The “Star City” is another name Roanoke has coined due to being home to the world’s largest man made star. Located on the Blue Ridge Parkway, it is a scenic drive to one of Kent and Erin’s favorite lunch and winery spots- Chateau Morrisette.
                    dt.iten-list-hed: a(href="http://www.blackdogsalvage.com/", target="_blank") Black Dog Salvage
                    dd Famous from DIY Network’s show “Salvage Dogs’, this is a fun shop to go to close to downtown Roanoke.
                    dt.iten-list-hed: a(href="http://www.centerinthesquare.org/", target="_blank") Center in the Square
                    dd Erin has many happy memories visiting the science museum at Center in the Square as a child. It’s a fun afternoon and don’t miss the aquarium on the first floor- Kent’s favorite Roanoke attraction.
                    dt.iten-list-hed: a(href="http://www.vmt.org/", target="_blank") Virginia Museum of Transportation
                    dd Another great museum buckling with all types of antique cars (a close 2nd to Kent’s favorite thing to do here) and old locomotives.
                                        
            section
                h2 Places to Eat
                
                dl.iten-list
                    dt.iten-list-hed: a(href="http://www.metroroanoke.com/", target="_blank") Metro!
                    dd One of Erin’s college employers, this swanky restaurant is great food and a fun bar.
                    dt.iten-list-hed: a(href="http://www.table50roanoke.com/", target="_blank") Table 50
                    dd Whenever Erin and Kent are in town visiting her dad and step-mom, this place is usually always visited.
                    dt.iten-list-hed: a(href="http://www.millmountaincoffee.com/", target="_blank") Mill Mountain Coffee
                    dd Erin grew up coming to this café with her dad and ordering the mocha. Later on, it became one of her favorite places to hang out while at Roanoke College. This is a great spot to visit for a quick bite to eat and a solid caffeine jolt.
                    
            section
                h2 Local Breweries
                
                p In the past 5 years, Roanoke has developed a craft brewery name and has some of our favorites including #[a(href="http://parkwaybrewing.com/", target="_blank") Parkway] (which will be served at the wedding), #[a(href="http://www.roanokerailhouse.com/", target="_blank") Roanoke Railhouse], and #[a(href="http://biglickbrewingco.com/", target="_blank") Big Lick].
            
        
        ul.gallery--flow-col
            +col_image("kentanderin9.jpg")
            +col_image("kentanderin4.jpg")
            +col_image("kentanderin7.jpg")
            +col_image("kentanderin8.jpg")                    
            +col_image("kentanderin10.jpg")
            +col_image("kentanderin11.jpg")
            +col_image("kentanderin13.jpg")
            +col_image("kentanderin12.jpg")
            +col_image("kentanderin16.jpg")
            +col_image("kentanderin15.jpg")
            +col_image("kentanderin14.jpg")
            +col_image("kentanderin5.jpg")
