//- svg(
//-     version="1.1"
//-     xmlns="http://www.w3.org/2000/svg"
//-     xml:space="preserve"
//- ).a11y
//-     symbol#ico-facebook(viewBox="0 0 32 32")
//-         title Facebook
//-         path(d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3zM29.5 25.5h-7.5v1h7.5v1h-7.5v1h7.5v1h-7.5v0.5h-6v-0.5h-13.5v-1h13.5v-1h-13.5v-1h13.5v-1h-13.5v-1h13.5v-8.5h-2.891v-4.58h2.891v-2.975c0-4.042 1.744-6.445 6.496-6.445h5.476v4.955h-4.473c-1.328-0.002-1.492 0.692-1.492 1.985l-0.007 2.48h6l-0.794 4.58h-5.206v8.5h7.5v1z")
//-     
//-     symbol#ico-twitter(viewBox="0 0 32 32")
//-         title Twitter
//-         path(d="M26.667 0h-21.333c-2.934 0-5.334 2.4-5.334 5.334v21.332c0 2.936 2.4 5.334 5.334 5.334h21.333c2.934 0 5.333-2.398 5.333-5.334v-21.332c0-2.934-2.399-5.334-5.333-5.334zM26.189 10.682c0.010 0.229 0.015 0.46 0.015 0.692 0 7.069-5.288 15.221-14.958 15.221-2.969 0-5.732-0.886-8.059-2.404 0.411 0.050 0.83 0.075 1.254 0.075 2.463 0 4.73-0.855 6.529-2.29-2.3-0.043-4.242-1.59-4.911-3.715 0.321 0.063 0.65 0.096 0.989 0.096 0.479 0 0.944-0.066 1.385-0.188-2.405-0.492-4.217-2.654-4.217-5.245 0-0.023 0-0.045 0-0.067 0.709 0.401 1.519 0.641 2.381 0.669-1.411-0.959-2.339-2.597-2.339-4.453 0-0.98 0.259-1.899 0.712-2.689 2.593 3.237 6.467 5.366 10.836 5.589-0.090-0.392-0.136-0.8-0.136-1.219 0-2.954 2.354-5.349 5.257-5.349 1.512 0 2.879 0.65 3.838 1.689 1.198-0.24 2.323-0.685 3.338-1.298-0.393 1.249-1.226 2.298-2.311 2.96 1.063-0.129 2.077-0.417 3.019-0.842-0.705 1.073-1.596 2.015-2.623 2.769z")
//-     
//-     symbol#ico-linkedin(viewBox="0 0 32 32")
//-         title LinkedIn
//-         path(d="M26.625 0h-21.25c-2.956 0-5.375 2.419-5.375 5.375v21.25c0 2.956 2.419 5.375 5.375 5.375h21.25c2.956 0 5.375-2.419 5.375-5.375v-21.25c0-2.956-2.419-5.375-5.375-5.375zM12 26h-4v-14h4v14zM10 10c-1.105 0-2-0.895-2-2s0.895-2 2-2 2 0.895 2 2-0.895 2-2 2zM26 26h-4v-8c0-1.105-0.895-2-2-2s-2 0.895-2 2v8h-4v-14h4v2.483c0.825-1.133 2.086-2.483 3.5-2.483 2.485 0 4.5 2.239 4.5 5v9z")
//-     
//-     symbol#ico-play(viewBox="0 0 100 100")
//-         title Play Icon
//-         path(d="M50 0c-27.614 0-50 22.386-50 50s22.386 50 50 50 50-22.386 50-50-22.386-50-50-50zM50 90.625c-22.437 0-40.625-18.188-40.625-40.625s18.188-40.625 40.625-40.625 40.625 18.188 40.625 40.625-18.188 40.625-40.625 40.625zM37.5 28.125l37.5 21.875-37.5 21.875z")         
//-     
//-     symbol#ico-download(viewBox="0 0 768 768")
//-         title Download Icon
//-         path(d="M480 352v-352h-160v352h-126.496l203.616 203.648 203.616-203.648zM645.12 224h-101.12v64h101.12c17.632 0 26.88 0.512 26.88 18.112v240c0 26.496-16.448 61.888-42.88 61.888h-490.176c-26.432 0-42.88-35.392-42.88-61.888v-240c0-17.6 9.248-18.112 26.88-18.112h101.12v-64h-101.12c-52.928 0-90.88 29.184-90.88 82.112v352c0 52.928 37.952 109.888 90.88 109.888h522.176c52.928 0 90.88-56.928 90.88-109.888v-352c0-52.928-37.952-82.112-90.88-82.112zM672 658.112c0 17.632-9.248 45.888-26.88 45.888h-522.176c-17.632 0-26.88-28.256-26.88-45.888v-48.416c0 10.144 24.8 30.272 42.88 30.272h490.176c18.048 0 42.88-20.128 42.88-30.272v48.416z")
