// BEAKPOINT FLAGS
// =============================================================================
+under(breakpoints.condensed)
    .no-cnd
        display: none !important

+over(breakpoints.condensed)
    .only-cnd
        display: none !important
