// BEAKPOINT FLAGS
// =============================================================================
+under(breakpoints.condensed)
    .no-cnd
        display: none !important

+over(breakpoints.condensed)
    .only-cnd
        display: none !important

//
// +over(480px)
//     .and-portrait
//         display: none
//
// +under(480px)
//     .and-landscape
//         display: none
//
// +enhanced()
//     .no-enh
//         display: none
//
// +under-enhanced()
//     .plus-enh
//         display: none
//
// +under-extended()
//     .only-ext
//         display: none
//
// +extended()
//     .no-ext
//         display: none
//
// +under(breakpoints.expanded)
//     .only-exp
//         display: none
//
// +over(breakpoints.expanded)
//     .no-exp
//         display: none
//
// .only-ie
//     display: none
