[class*="ctrl--"]
    > * + *
        margin-left: blh(.25)

.ctrl--action
    layers()
    padding: blh(.25) blh(.25)
    text-align: center
    text-transform: uppercase
    border: currentColor

    &::before
        edges: 0

    +over(breakpoints.enhanced)
        padding: blh(.25) blh(.5)

.ctrl--action--lg
    @extends .ctrl--action
    padding: blh(.5)
    font-size: 21px


.ctrl--action--sm
    @extends .ctrl--action
    padding: blh(.1)
    font-size: 10px


.ctrlbar
    > * + *
        margin-top: blh(.25)

    +between(breakpoints.compressed, breakpoints.condensed)
        flex-direction: row

        > *
            flex: 1 1

        > * + *
            margin-top: 0
            margin-left: blh(.25)

    +over(breakpoints.condensed)
        > *
            flex: 0 0 auto
        > * + *
            margin-top: 0

.ctrlbar--cnd

    > * + *
        margin-top: blh(.25)

    +between(breakpoints.compressed, breakpoints.condensed)
        flex-direction: row

        > *
            flex: 1 1

        > * + *
            margin-top: 0
            margin-left: blh(.25)
