.ico
    sq: blh(.75)

// .ico-logo
//     max-width: 100%
//     // max-height: 45px
//     //
//     // +over-condensed()
//     max-height: 96px
//
// .ico-secondary
//     sq: 20px
//
// .ico--remove
//     transform: rotate(45deg)
//     sq: 16px
