.typ-chrome
    font-size: 12px
    line-height: 1

//
// .typ-small
//     font-size: 14px
//     line-height: 1.6
//

.typ-min
    relative-font-size: 13px, 16px, breakpoints.standard, breakpoints.expanded

.typ-maj
    relative-font-size: 16px, 18px, breakpoints.floor, breakpoints.expanded

.typ-lede
    relative-font-size: 16px, 24px, breakpoints.standard, breakpoints.expanded
    line-height: 1.2


.typ-subhed
    relative-font-size: 18px, 24px, breakpoints.floor, breakpoints.expanded

.typ-display
    relative-font-size: 18px, 30px, breakpoints.floor, breakpoints.expanded
    line-height: 1.2

.typ-poster
    relative-font-size: 24px, 64px, breakpoints.floor, breakpoints.expanded
    font-weight: 900
    line-height: 1
