typography = {
    typ-chrome: {
        font-size: 12px
        line-height: 1
        stack: chrome
    }
    typ-small: {
        font-size: 14px
        line-height: 1.6
    }
    typ-min: {
        min: 13px breakpoints.standard
        max: 16px breakpoints.expanded
    }
    typ-maj: {
        min: 16px breakpoints.floor
        max: 18px breakpoints.expanded
    }
    typ-display: {
        min: 20px breakpoints.floor
        max: 24px breakpoints.expanded
        line-height: 1
    }
    typ-lede: {
        min: 24px breakpoints.standard
        max: 30px breakpoints.expanded
        line-height: 1.4
    }
    typ-poster: {
        min: 48px 1 breakpoints.floor
        max: 56.856px breakpoints.expanded
    }
}

type-chart()

// .typ-subhed
//     font-size: 34px;
//     // relative-font-size: 18px, 24px, breakpoints.floor, breakpoints.expanded
//
// .typ-display
//     relative-font-size: 18px, 30px, breakpoints.floor, breakpoints.expanded
//     line-height: 1.2
//
// .strata
//     padding-y: blh(3)
//
